<template>
  <q-page padding>
    <!-- content -->
    <h4 class="titulo">Dados do usuário</h4>
    <q-input v-model="text" stack-label="Nome Completo" />
    <q-input v-model="email" stack-label="E-mail" />
    <q-input v-model="email" stack-label="Endereço" />
    <q-input v-model="number" stack-label="CEP" />
    <br />
    <h4> Dados da conta</h4>
    <q-input v-model="text" stack-label="Usuário" />
    <q-input v-model="number" stack-label="Senha" />
    <br />
    <q-btn color="primary " label="Cadastrar" align="right" @click="$router.push('/')" />
  </q-page>
</template>
<script>
export default {
  // name: 'PageName',
}
</script>

<style>
</style>
