<template>
  <q-page padding>
    <!-- content -->
    <q-card inline>
  <q-card-media>
    <img src="https://abrilsuperinteressante.files.wordpress.com/2018/07/feira.jpeg">
  </q-card-media>
  <q-card-title>
    Espaço Agroecológico das Graças
    <q-rating slot="subtitle" v-model="stars" :max="5" />
    <div slot="right" class="row items-center">
      <q-icon name="place"  /> 250 ft
    </div>
  </q-card-title>
  <q-card-main>
    <p>Local:Rua A</p>
    <p>Principais produtos:Frutas e verduras</p>
    <p>Quantidade de Feirantes: 3</p>
  </q-card-main>
  <q-card-separator />
  <q-card-actions>
    <q-btn flat round dense icon="event" />
    <q-btn flat label="5:00PM" />
    <q-btn flat label="10:30PM" />
  </q-card-actions>
</q-card>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
</style>
