<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header class="header-top">
      <q-toolbar color="primary" :glossy="$q.theme === 'mat'" :inverted="$q.theme === 'ios'">
        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
          <q-icon name="menu" />
        </q-btn>
        <q-toolbar-title>
          E-natural
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer v-model="leftDrawerOpen" :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null">
      <q-list no-border link inset-delimiter>
        <q-item to="/">
          <q-item-side icon="school" />
          <q-item-main label="Home" />
        </q-item>
        <q-item to="/mapaFeira">
          <q-item-side icon="school" />
          <q-item-main label="Mapa da Feira" />
        </q-item>
        <q-item to="/favoritos">
          <q-item-side icon="code" />
          <q-item-main label="Favoritos" />
        </q-item>
        <q-item to="historico">
          <q-item-side icon="chat" />
          <q-item-main label="Histórico"  />
        </q-item>
        <q-item to="conta">
          <q-item-side icon="record_voice_over" />
          <q-item-main label="Conta"  />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
